#artice-detai lfigure {
    text-align: center;
    margin: 1em auto;
  }
  
  #artice-detail img {
    display: block;
    margin: auto;
  }
  

  #artice-detail a{
    text-decoration: none;
    color: blue
  }

  #artice-detail ul{
  list-style:disc;
 }